html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.dark-mode {
  background-color: #121212; /* dark grey */
  color: #ffffff; /* white text */
}

.dark-mode .navbar {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .navbar a {
  color: #ffffff;
}

.dark-mode .navbar a:hover {
  background-color: #555555;
}

.textbox {
  margin: 10px;
  width: 50%;
}

.navbar {
  background-color: #f1f1f1;
  overflow: hidden;
}

.navbar a {
  display: inline-block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-logo {
  float: left;
  height: 50px; 
  padding: 7px; 
}

.navbar a:hover {
  background-color: #ddd;
}

.spacer {
  height: 10px;
}

iframe {
  width: 100%;
  height: 100%; 
  border: none;
}

#userInput {
  height: 20px;
}

#outputBox {
  height: 50px;
}

.header-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.iframe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; 
  height: 90%;
  margin: 0 auto; 
}

#iframeContainer {
  width: 100%; 
  height: 100%; 
}

.caption {
  margin-top: 10px;
  font-weight: bold;
}

.switch-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.switch {
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}

.switch.on {
  background-color: #2196F3;
}

.switch.on::before {
  transform: translateX(40px);
}

button#toggleButton {
  background-color: #007BFF; 
  border: none;
  color: white;
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; 
  transition-duration: 0.4s; 
}

button#toggleButton:hover {
  background-color: #0069D9; 
  color: white;
}


//darkmode button II

button#darkModeButton {
  background-color: #007BFF; 
  border: none;
  color: white;
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; 
  transition-duration: 0.4s;
}

button#darkModeButton:hover {
  background-color: #0069D9; 
  color: white;
}

.article-container {
  font-family: 'Roboto', sans-serif;
  color: #333; 
  line-height: 1.6; 
  text-align: left; 
  background-color: #f9f9f9;
  margin: 20px auto;
  max-width: 800px;
  padding: 0 20px;
}

.article-container h1 {
  text-align: center; 
}

.article-container h2, .article-container h3 {
  color: #555;
}

.article-container p {
  margin: 10px 0; 
}



