body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.textbox {
  margin: 10px;
  width: 50%; /* Set the width for both input boxes */
}

.navbar {
  background-color: #f1f1f1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
}

.spacer {
  height: 2px;  /* Adjust this to position the new iframe lower or higher on the page */
}

iframe {
  width: 100%;
  height: 600px;  /* Adjust this to change the size of the iframe */
  border: none;
}

/* Specific styles for the input and output boxes */
#userInput {
  height: 20px; /* Adjust as needed */
}

#outputBox {
  height: 50px; /* Adjust as needed */
}
